<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Study Management</title>
		<link rel="stylesheet" type="text/css" href="../static/styles.css" />
	</head>
	<body>
		<div class="container">
			<h1>Study Management</h1>
			<table>
				<thead>
					<tr>
						<th>Study Name</th>
						<th>Study Description</th>
						<th>Study Phase</th>
						<th>Sponsor Name</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for study in studies %}
					<tr>
						<td>{{ study.study_name }}</td>
						<td>{{ study.study_description }}</td>
						<td>{{ study.study_phase }}</td>
						<td>{{ study.sponsor_name }}</td>
						<td>
							<a href="{% url 'view_study' study.pk %}">View</a> |
							<a href="{% url 'edit_study' study.pk %}">Edit</a> |
							<a href="{% url 'delete_study' study.pk %}"
								>Delete</a
							>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="add-button">
				<a href="{% url 'add_study' %}">Add Study</a>
			</div>
		</div>
	</body>
</html>
